* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

.container {
    width: 88%;
    margin: 0 auto;
}

/* logo */

.logo {
    text-align: center;
    font-weight: 600;
    font-style: bold;
    padding-bottom: 0.7rem;
    color: black;
}

/* nav */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
}


.main-bg {
    background-color: #f9ece6;
    padding: 1.2rem;
}

/* menu */



/* form-inline */

.form-inline {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
}

/* background-bg */

.background-bg {
    background-color: #f89cab;
}

/* flex slide */

.flex-slide {
    display: flex;
    gap: 13rem;
    align-items: center;
    padding-top: 2.3rem;
    justify-content: center;
    padding-bottom: 2rem;
}

/* image */

.image img {
    width: 17.1875;
}

/* slide-content h1 */

.slide-content h1 {
    font-weight: bold;
    color: #fff;
    font-size: 3.5rem;
    margin-bottom: 6px;
}

/* slide-content p */

.slide-content p {
    color: #fff;
}

/* button */

.btn {
    display: inline-block;
    padding: 10px 40px;
    background-color: #db4566;
    color: #ffffff;
    border: 1px solid #db4566;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin-top: 25px;
    text-transform: uppercase;
}

/* hover */

.btn:hover {
    background-color: transparent;
    color: #db4566;
}

/* section-3 */

.content-sec-3 h2 {
    text-align: center;
    font-weight: 600;
    font-style: bold;
    padding-top: 2.5rem;
    color: black;
    padding-bottom: 2.5rem;

}

/* shop_section */

.pic img {
    max-width: 100%;
    max-height: 145px;
    padding-top: 2rem;
}

.box {
    background-color: #eeeeee;
    position: relative;
    margin-bottom: 1rem;

}

.flex-box-crd {
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: center;
}

/* flex-card-prize */

.flex-card-prize {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0rem 1rem;
    cursor: pointer;

}

/* prize span */

.prize span {
    color: #db4566;
    padding-left: 0.4rem;
}

/* new */

.new {
    position: absolute;
    left: 11px;
    bottom: 0px;
    background: #fff;
    top: 9px;
    border-radius: 50rem;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* btn-box */

.btn-box {

    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 45px;
}

.btn-box a {
    display: inline-block;
    padding: 10px 40px;
    background-color: #f16179;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #f16179;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn-box a:hover {
    background-color: transparent;
    color: #f16179;
}

.detail-box h1 {
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 10px;
}

.slider_section .detail-box a {
    display: inline-block;
    padding: 10px 40px;
    background-color: #db4566;
    color: #ffffff;
    border: 1px solid #db4566;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin-top: 25px;
    text-transform: uppercase;
}

.detail-box a:hover {
    background-color: transparent;
    color: #db4566;
}

.main-bg-2 {
    background-color: #f89cab;
}

.paragraph {
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 2px;
    line-break: anywhere;

}

.slide-content {
    display: inline-block;
    padding: 10px 40px;
    background-color: #db4566;
    color: #ffffff;
    border: 1px solid #db4566;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin-top: 25px;
    text-transform: uppercase;
    text-decoration: none;
}

.slide-content:hover {
    background-color: transparent;
    color: #db4566;
}


.saving_section {
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 4em;
}

.saving_section .box {
    padding-top: 45px;
    background-color: #7fd7eb;
    color: #ffffff;
    border-radius: 15px;
}

.saving_section .img-box {
    padding: 15px 0 0 25px;
}

.saving_section .detail-box {
    padding: 0 25px;
}

.heading_container {

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


.saving_section .detail-box .btn-box .btn1:hover {
    background-color: transparent;
    color: #109dbd;
}

.saving_section .detail-box .btn-box .btn1 {
    display: inline-block;
    padding: 10px 0;
    background-color: #109dbd;
    color: #ffffff;
    border: 1px solid #109dbd;
    border-radius: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.saving_section .detail-box .btn-box a {
    width: 165px;
    text-align: center;
    margin: 5px;
}

.btn-box {
    display: flex;

    /* justify-content: center; */
    margin-top: 45px;
}

.box-2 {
    text-align: center;
    margin-top: 45px;
    background-color: #f9f8f7;
    padding: 22px;
    border-radius: 5px;
}

.img-box i {
    font-size: 3rem;
    margin-bottom: 15px;
    color: #320b57;
}

.detail-box p {
    margin-bottom: 1rem;
}


.gift_section {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 4rem;
}

.box-5 {
    background-color: #6929a5;
    border-radius: 15px;
    color: #ffffff;
}

.gift_section .detail-box .btn-box .btn1:hover {
    background-color: transparent;
    color: #ffffff;
}

.gift_section .detail-box .btn-box .btn1 {
    display: inline-block;
    padding: 10px 0;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
    border-radius: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.gift_section .detail-box .btn-box a {
    width: 165px;
    text-align: center;
    margin: 5px;
}

.gift_section .img-box {
    padding: 60px 0 60px 25px;
}

.contact_section {
    position: relative;
}

.contact_section .heading_container {
    margin-bottom: 30px;
}

.contact_section .container-bg {
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
}

.contact_section .row {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.contact_section .map_container {
    height: 100%;
    min-height: 375px;
}

.contact_section .map_container .map-responsive {
    height: 100%;
}

.contact_section form {
    padding-right: 35px;
    padding: 45px 20px;
}

.contact_section input {
    width: 100%;
    border: 1px solid #919191;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 25px;
    background-color: transparent;
    outline: none;
    color: #101010;
}

.d-flex {

    display: flex !important;
}

.contact_section button {
    display: inline-block;
    padding: 12px 45px;
    background-color: #db4f66;
    color: #ffffff;
    border: 1px solid #db4f66;
    border-radius: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: block;
    color: #fff;
    margin: 35px auto 0 auto;
}

.layout_padding-bottom {
    padding-bottom: 90px;
}


.client_section .heading_container {
    margin-bottom: 20px;
}

.heading_container.heading_center {
    padding-top: 4rem;
    align-items: center;
    text-align: center;
}



.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out,
        0.6s ease-in-out;
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-property: opacity;
    -webkit-transform: none;
    transform: none;
}

.client_section .box {
    margin: 15px 45px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    padding: 25px;
}

.client_section .box .client_info {

    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.client_section .box p {
    margin-top: 15px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    z-index: 1;
    opacity: 1;
}

.main-bg-3{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    padding: 25px;  
    
}

.carousel-control-prev-icon i{
    color: #000000;
}

.carousel-control-prev {
    color: #000 !important;
    position: relative;
    
    background-color: #db4f66;
}

.carousel-control-next {
    color: #000 !important;
    position: relative;
    background-color: #db4f66;
}

.out-btn{
    display: flex;
    justify-content: space-between;
}

.testimnl{
    padding-bottom: 3rem;
}

.carousel-item h5{
    font-weight: 600;
    color: #db4f66;
}

.carousel-item h6{
    margin-bottom: 5px;
    color: #bfc0c0;
    font-weight: normal;
    font-size: 15px;
}

/* footer */

.info_section {
    position: relative;
    background-color: #2d2d2d;
    color: #ffffff;
    margin: 0 45px 45px;
}

.layout_padding2-top {
    padding-top: 45px;
}

.info_section .social_container {
    
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 30px;
}

.social_box {
   
    display: flex;
    align-items: center; 
    justify-content: center;
}

.social_box a {
    margin: 0 10px;
    color: #ffffff;
    font-size: 24px;
}

.info_section h6 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 25px;
}

.info_section p {
    color: #cbc9c9;
}

.info_section {
    position: relative;
    background-color: #2d2d2d;
    color: #ffffff;
    margin: 0 45px 45px;
}

.info_form form input {
    outline: none;
    width: 100%;
    padding: 7px 10px;
}

.info_form form button {
    padding: 8px 35px;
    outline: none;
    border: none;
    color: #ffffff;
    background: #f89cab;
    margin-top: 15px;
    text-transform: uppercase;
}

.info_section .info_link-box a i {
    color: #ffffff;
    margin-right: 5px;
    font-size: 18px;
}

.info_link-box a span {
    color: #cbc9c9;
}

.footer_section {
    margin-top: 45px;
    font-weight: 500;
}

.footer_section p {
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    border-top: 1.5px solid #eeeeee;
    width: 80%;
}

.info_link-box a{
    text-decoration: none;
}